server:
  port: 8081
spring:
  main:
    allow-circular-references: true
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hmdp?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true
    username: root
    password: zhangboji88
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
    database: 2
  cache:
    type: redis     # 指定缓存类型为 Redis
    redis:
      time-to-live: 3600000 # 缓存过期时间（1小时，单位毫秒）
#      key-prefix: "cache:"  # 缓存键前缀（避免和其他 Redis 数据冲突）
      use-key-prefix: true  # 启用前缀
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug